@-webkit-keyframes marquee1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes marquee1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes marquee2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%); } }

@keyframes marquee2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%); } }

@-webkit-keyframes marquee3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); } }

@keyframes marquee3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); } }

@-webkit-keyframes marquee4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%); } }

@keyframes marquee4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%); } }

@-webkit-keyframes marquee5 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); } }

@keyframes marquee5 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); } }

.noselect {
  cursor: default;
  /* http://stackoverflow.com/a/4407335/4956731 */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                  not supported by any browser */ }

.hidden {
  display: none !important; }

.audio_player {
  position: absolute;
  bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 50px;
  background-color: rgba(51, 51, 51, 0);
  width: 50%;
  /* http://codepen.io/aralon/pen/NqGWXZ */ }
  .audio_player .spacer {
    width: 10px; }
  .audio_player .audio_progress_container {
    position: relative;
    height: 100%;
    -ms-flex-positive: 1;
        flex-grow: 1; }
  .audio_player .audio_progress {
    background-color: #000000;
    height: 10%;
    width: 6%;
    will-change: width;
    position: absolute;
    top: 67%; }
  .audio_player .audio_progress_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .audio_player .audio_info_marquee {
    overflow: hidden;
    /* to make room for .audio_time_progress */
    width: calc(100% - 180px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
            margin-left: 0px; }
  .audio_player .audio_info {
    display: none;
    width: 100%;
    white-space: nowrap;
    word-break: break-all;
    margin: 0px;
    font-size: 14px;
    color: rgb(0, 0, 0); }
  .audio_player .audio_time_progress {
    position: absolute;
    left: 73%;
    margin-right: 20px;
    -ms-grid-row-align: center;
        -ms-flex-item-align: center;
        align-self: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: arial}
  .audio_player .audio_button {
    padding-left: 11px;
    padding-right: 11px;
    /* margin-left: 4px;
    margin-right: 4px;
    margin-top: 15px; */
    margin-top: 0px;
    cursor: pointer;
    -ms-flex-item-align: center;
        align-self: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 50px; }
  .audio_player .play_pause_button .play_pause_inner {
    height: 30px;
    width: 30px;
    overflow: hidden;
    position: relative; }
  .audio_player .play_pause_button .left {
    height: 100%;
    float: left;
    background-color: rgb(0, 0, 0);
    width: 36%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    overflow: hidden; }
  .audio_player .play_pause_button .triangle_1 {
    -webkit-transform: translate(0, -100%);
            -ms-transform: translate(0, -100%);
        transform: translate(0, -100%); }
  .audio_player .play_pause_button .triangle_2 {
    -webkit-transform: translate(0, 100%);
            -ms-transform: translate(0, 100%);
        transform: translate(0, 100%); }
  .audio_player .play_pause_button .triangle_1,
  .audio_player .play_pause_button .triangle_2 {
    position: absolute;
    top: 0;
    right: -1px;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 30px solid rgb(255, 255, 255);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transition: -webkit-transform 0.25s ease;
    -webkit-transition: -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease; }
  .audio_player .play_pause_button .right {
    height: 100%;
    float: right;
    width: 36%;
    background-color: rgb(0, 0, 0);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  .audio_player .play_pause_button.paused .left {
    width: 50%; }
  .audio_player .play_pause_button.paused .right {
    width: 50%; }
  .audio_player .play_pause_button.paused .triangle_1 {
    -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
  .audio_player .play_pause_button.paused .triangle_2 {
    -webkit-transform: translate(0, 50%);
            -ms-transform: translate(0, 50%);
        transform: translate(0, 50%); }
  .audio_player .skip_button.back {
    -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
  .audio_player .skip_button .skip_button_inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
  .audio_player .skip_button .right_facing_triangle {
    width: 0;
    height: 0;
    border-left: 16px solid rgb(0, 0, 0);
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; }
  @media screen and (min-width: 370px) {
    .audio_player .audio_info {
      display: initial;
      -webkit-animation: marquee5 10s cubic-bezier(0, 0.23, 0.6, -0.09) infinite;
              animation: marquee5 10s cubic-bezier(0, 0.23, 0.6, -0.09) infinite;
            width:100%; } }
  @media screen and (min-width: 450px) {
    .audio_player .audio_info {
      -webkit-animation: marquee4 10s cubic-bezier(0, 0.23, 0.7, -0.09) infinite;
              animation: marquee4 10s cubic-bezier(0, 0.23, 0.7, -0.09) infinite; } }
  @media screen and (min-width: 550px) {
    .audio_player .audio_info {
      -webkit-animation: marquee3 10s cubic-bezier(0, 0.23, 0.85, -0.09) infinite;
              animation: marquee3 10s cubic-bezier(0, 0.23, 0.85, -0.09) infinite;
              width: 100%;
             } }
  @media screen and (min-width: 650px) {
    .audio_player .audio_info {
      -webkit-animation: marquee2 10s cubic-bezier(0, 0.23, 1, -0.09) infinite;
              animation: marquee2 10s cubic-bezier(0, 0.23, 1, -0.09) infinite; } }
  @media screen and (min-width: 720px) {
    .audio_player .audio_info {
      -webkit-animation: initial;
              animation: initial; } }


       @media (max-width: 998px){
         .audio_player{
          width: 100%;
         }
         .audio_player .audio_progress_container {
          position: relative;
          height: 80%;
          -ms-flex-positive: 1;
          flex-grow: 1;
          font-size: 9px;
      }
       }



@media (min-width:320px) and (max-width: 500px) {

  .audio_player .audio_time_progress {
    position: absolute;
    left: 71%;
    margin-right: -16px;
    -ms-grid-row-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: rgb(0, 0, 0);
    font-size: 9px;
    font-family: arial;
  }




  .audio_player .audio_time_progress {
    position: absolute;
    left: 71%;
    margin-right: -16px;
    -ms-grid-row-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: rgb(0, 0, 0);
    font-size: 9px;
    font-family: arial;
 

} 
   
    .audio_player .audio_button{
       margin-top: 0px;
    }

}



